/* popups.css - split from style.css to allow sharing with Record Boxes */
/* Home-page pop-ups */
#popup-wrapper { height: 500px; width: 800px; }
.section { font-size: 12px; }
.split{ width: 400px; float: left; padding: 0;  }
.galleria-stage { top:0; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; }
.galleria-lightbox-box .galleria-lightbox-content { background-color: #000; }
.galleria-lightbox-close { opacity: 0.8; }
.galleria-lightbox-next, .galleria-lightbox-prev  { opacity: 0.6; }
.section h3 { background: #ffed00; line-height: 16px; padding: 0 5px 0 5px; font-size: 13px; color: #000; display: inline-block; margin-bottom: 20px; }
.section td { padding: 0 10px 5px; }
#credits {position: absolute; top:0; text-indent:-5000px; }
#popup-wrapper p { margin: 0 0 20px 10px;}
#popup-wrapper p,
#popup-wrapper td
{ color: #FFF; font-size: 0.9em; }
#popup-wrapper td { padding: 0 10px 5px;}
#popup-wrapper tr:hover td { color: #ffed00; }
a.play { background: #ffed00; color: #000; font-size: 1em; padding: 1px 3px 1px 3px; letter-spacing: -1px; font-weight: bold; text-decoration: none; }

#popPhotos #galleria { height: 550px; }
.galleria-stage { border: 1px solid #fff; }
.popRestrainer { height: 550px; width: 880px; overflow: auto; }

/* Override some fancybox css and add some popup styles */
.fancybox-wrap .fancybox-skin { background: #000; opacity: 1; border-radius: 0; color: #fff; }

#popTitle { position: absolute; top: -26px; left: 0px; background: #ffed00; color: #000; font-size: 16px; padding: 2px 8px; letter-spacing: 1px; font-weight: bold; text-decoration: none; } 
a.arrow {position: absolute; top: 174px; color: #000; background: #000; padding: 2px; text-decoration: none; opacity: 0.6; }
a.arrow:hover {opacity: 1;}
#prevBtn { left: -28px; }
#nextBtn { right: -28px; } 
#topLogo { position: absolute; top: -36px; left: 0px; background-image: url(../img/top-logo.png); width: 140px; height: 36px; cursor:pointer; z-index: 99; }

